name: Master Workflow

on:
  push:
    branches: ["main"]
    paths:
      - "docs/**"
jobs:
  nodejs-ci:
    uses: ./.github/workflows/nodejs.yml

  discord-notify:
    needs: nodejs-ci
    uses: ./.github/workflows/discord_notify.yml
    with:
      docs_sha: ${{ github.sha }}
